/* below selector is known as universal selector */
/* *{  
    background-color: aqua;
    color: rgb(213, 36, 66);
} */
/* below selector is know as grouping selector */
/* h1,h2,h3,h4{
    background-color: coral;
    color: rgb(52, 112, 164);
}
#first{
    background-color: blueviolet;
    color: rgb(59, 9, 9);
} */
/*  select by attribute */
/* h1[draggable="true"]{
    background-color: aqua;
} */
 /* select by descendent below is given */
/* section p{
    background-color: aqua;
    color: rgb(85, 3, 3);
} */
 /* select by child, here less than sign shows that child is selected , which is present under the section */
 section >p{
    background-color: blueviolet;
 }